<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="IR_Log4j_config" packages="org.apache.logging.log4j.test">
    <Properties>
        <Property name="LOG_PATTERN">%d{ISO8601} [%-5p - %c{1}] - %m%n</Property>
        <Property name="filename">log/application.log</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="logfile" fileName="${filename}">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="warn">
<!--        <Root level="trace">--> <!-- for debugging -->
<!--            <AppenderRef ref="console"/>-->
            <AppenderRef ref="logfile"/>
        </Root>
    </Loggers>
</Configuration>