<div>
    <h3>Vítej na webu konference o hrách!</h3>
    <!-- <hr> -->
    <p>
        Tento web slouží jako konference o všem, co je něják spřaženo s hrami. Uživatelé vytváří příspěvky, které mouhou
        ostatní uživatelé procházet a číst, pokud je příspěvek něják zaujme. Je možné napsat příspěveky jako na příklad
        hodnocení právě dohráté hry, guidy a tipy, ale i jiné.
    </p>
    <p>
        Prohlížet příspěvky je možné bez registrace. Pokud si ale přejete přidat příspěvek, budete se muset zaregistrovat.
        Doporučuji přečíst si pravidla pod navigací <i>Pravidla</i> pro více informací o přidávání příspěvků,
        registraci a "architektuře" webu.
    </p>
    <h4>Kam dál?</h4>
    <p>
        Pro procházení příspěvků zvolte v navigaci <b>Příspěvky</b>.
    </p>
    <p>
        Více informací o nás - provozovatelích - najdete v sekci <b>O nás</b>.
    </p>
    <p>
        Pro pravidla webu, registrace a přidávání příspěvku jděte na <b>Pravidla</b>.
    </p>
</div>