<!--<script type="text/javascript" src="../../app/controller/js/login_form_submit.js"></script>-->

<form method='post' id='login_form'>
    <dl>
        <dt>Už. jméno</dt>
        <dd><input type='text' name='username' id='uname'></dd>
        <dt>Heslo</dt>
        <dd><input type='password' name='password' id='passwd'></dd>
        <dd><input class="float-left" type='button' name='login' value='Přihlásit' id='login' onclick='submitForm("login")'>
            <input class="float-right" type='button' name='reg' value='Registrovat' id='reg' onclick='submitForm("register")'></dd>
    </dl>
</form>