<h3>Přidání příspěvku</h3>
<form method="get" id="post_form">
    <dl>
        <dd>
            <textarea class="w-100" style="resize: none" rows="1" name="post_name" id="post_name" placeholder="Zadej název příspěvku."></textarea>
        </dd>
        <dd>
            <textarea class="w-100" style="resize: none" rows="15" name="post_desc" id="post_desc" placeholder="Zadej text příspěvku."></textarea>
        </dd>
        <dd>
            <input type="file" name="pdf_input" id="pdf_input" accept="application/pdf">
            <input class="float-right" type="button" name="post_action" id="post_action" value="Odeslat">
        </dd>
        <dd id="post_error" style="color: red"></dd>
    </dl>
</form>