<div>
    <h3>Pravidla webu a příspěvků</h3>
    <h4>Fungování webu</h4>
    <p>Zaregistrovaný uživatel získává status autora. Po té může přidávat příspěvky. Každý přidaný příspěvek čeká,
    dokud mu některý z administrátorů nepřidělí aspoň 3 recenzenty. Po té čeká dokud aspoň 3 recenzenti nezhodnotí
    příspěvek a v konečné fázi některý z administrátorů rozhodne zda příspěvek zveřejnit či nikoliv.</p>
    <h4>Pravidla příspěvku</h4>
    <p>Pří psaní příspěvku by se měly dodržovat jistá pravidla. Určitě je nutné dodržet alespoň neutrální jazyk, pokud
    né spisovný. Dále by příspěvek měl být co nejblíže k tématu webu, tudíž něco společného s hrami. A v poslední řadě
    by měl být něčím užitečný a originální.</p>
</div>